* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  min-width: 290px;
} */

html {
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  border-right: 3px solid rgb(93, 93, 93);
  height: 100%;
  overflow: auto;
  top: 0;
}

#navbar header {
  padding: 15px 0px;
  text-align: center;
  font-size: 25px;
}

#navbar li {
  list-style: none;
  border-top: 1px solid;
}

#navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin: 0px 20px;
}

#main-doc {
  margin-left: 300px;
  margin-right: 40px;
  margin-top: 30px;
  font-size: 15px;
}

.main-section {
  margin-bottom: 20px;
  line-height: 22px;
  color: rgb(19, 19, 19);
  scroll-margin: 25px;
}

.main-section header {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.main-section p {
  margin: 16px 0px;
}

.main-section li {
  margin: 16px 0px;
}

.main-section article {
  margin-left: 20px;
}

.main-section li {
  margin-left: 60px;
}

/* .code {
  padding: 10px;
  background-color: #f7f7f7;
  margin: 10px 0;
  font-family: monospace;
  line-height: 25px;
} */

@media screen and (max-width: 815px) {
  #navbar {
    position: relative;
    min-width: 100%;
    border-right: none;
    border-bottom: 3px solid rgb(93, 93, 93);
    height: 250px;
    overflow: auto;
  }

  #navbar ul {
    border: 1px solid;
  }

  #main-doc {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 15px;
  }

  .main-section article {
    margin-left: 10px;
  }

  .main-section li {
    margin-left: 30px;
  }

  .main-section header {
    font-size: 22px;
    margin: 0 0;
    margin-top: 30px;
  }
}
